Repository obsidianmd/obsidian-help, pull requests merged in 2023-04, with the labels that each got.

#414 Refactor Format your notes
  en/Editing and formatting/Advanced formatting syntax.md
  en/Editing and formatting/Basic formatting syntax.md
  en/Editing and formatting/Obsidian Flavored Markdown.md
  en/Getting started/Create your first note.md
  en/How to/Basic note taking.md
  en/How to/Format your notes.md
  en/Obsidian/Index.md
  en/Plugins/Format converter.md
  en/Plugins/Search.md
  en/Start here.md
Labels: kind/refactor

#379 Update Obsidian Sync and third-party services.md
  en/Obsidian Sync/Obsidian Sync and third-party services.md
Labels: area/sync, kind/update

#348 [i18n-zh] translate canvas plugin part, publish part
  zh/Obsidian 发布服务/Obsidian 发布服务介绍.md
  zh/Obsidian 发布服务/发布或取消发布笔记.md
  zh/Obsidian 发布服务/安全性与隐私.md
  zh/Obsidian 发布服务/托管媒体文件.md
  zh/Obsidian 发布服务/管理站点.md
  zh/Obsidian 发布服务/自定义你的站点.md
  zh/Obsidian 发布服务/设置自定义域名.md
  zh/Obsidian 发布服务/配置 Google 分析.md
  zh/Obsidian 发布服务/配置 Obsidian 发布服务.md
  zh/插件/白板.md
Labels: translation/zh

#384 Add FAQ "Where are Obsidian Sync's servers hosted?"
  en/Obsidian Sync/Security and privacy.md
Labels: area/sync, kind/update
