Repository obsidianmd/obsidian-help, pull requests merged in 2023-01, with the labels that each got.

#359 Update community code of conduct
  en/Obsidian/Community code of conduct.md
Labels: kind/update

#371 Section example has the wrong search operator
  en/Plugins/Search.md
Labels: area/core-plugins, kind/update

#370 Publish: Add Collaborating page
  en/Obsidian Publish/Collaborating.md
  en/Obsidian Publish/Introduction to Obsidian Publish.md
Labels: area/publish, kind/new

#369 Add style section regarding product names
  en/Contributing to Obsidian/Style guide.md
Labels: area/contributing, kind/update

#373 Update Sync your notes across devices.md
  en/Getting started/Sync your notes across devices.md
Labels: area/sync, kind/update

#362 Refactor Multiple cursors
  en/How to/Multiple cursors.md
  en/How to/Working with multiple cursors.md
  en/Obsidian/Index.md
Labels: kind/refactor, area/editing

#376 Remove Title bar docs
  en/User interface/Workspace/Title bar.md
  en/User interface/Workspace/Workspace.md
Labels: kind/refactor

#378 Add docs for pop-out windows
  en/User interface/Pop-out windows.md
Labels: kind/new

#375 Add team members to credit page
  en/Obsidian/Credits.md
Labels: kind/update

#374 Add Help and support page
  en/Extending Obsidian/Plugin security.md
  en/Help and support.md
  en/Licenses & Payment/Commercial license.md
  en/Licenses & Payment/Education and non-profit discount.md
  en/Licenses & Payment/Refund policy.md
Labels: kind/new

#381 Update Graph view.md
  en/Plugins/Graph view.md
Labels: kind/update

#380 Update Sync your notes across devices.md
  en/Getting started/Sync your notes across devices.md
Labels: area/sync, kind/update

#372 Update Obsidian Sync and third-party services.md
  en/Obsidian Sync/Obsidian Sync and third-party services.md
Labels: area/sync, kind/update

#386 Refactor front matter docs
  en/Advanced topics/YAML front matter.md
  en/Editing and formatting/Metadata.md
  en/How to/Working with tags.md
  en/Linking notes and files/Aliases.md
  en/Obsidian Publish/Publish and unpublish notes.md
Labels: kind/refactor

#377 Add reference docs for keyboard shortcuts
  en/Editing and formatting/Keyboard shortcuts for editing.md
Labels: kind/new, area/editing

#390 Move Multiple cursors to Editing and formatting
  en/Editing and formatting/Multiple cursors.md
Labels: kind/refactor, area/editing

#389 Update Callout docs
  en/Editing and formatting/Callouts.md
  en/How to/Format your notes.md
  en/How to/Use callouts.md
Labels: kind/refactor, area/editing
